@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Montserrat:ital,wght@0,200;0,300;1,200&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto+Serif:ital,wght@1,500&family=Sigmar+One&family=Urbanist:ital,wght@0,100;1,300&family=Varela&display=swap');
:root{
    /* --primary-color:#662d91; */
    /* --primary-color:#7510f7; */
    /* --secondary-color :#7510f7; */
    --primary-color:#662d91;
    --secondary-color :#ed6991;
    --font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
      scroll-behavior: smooth;
      height: 100%;
      overflow-x: initial ;
  }
  @media screen and (min-width: 280px) and (max-width:1080px){
      body::-webkit-scrollbar{
          display: none;
      }
      
  }
  body{
      overflow-x:hidden ;
  }
  body,button{
      font-family: var(--font-family);
  }
  ::-webkit-scrollbar{
      background-color: var(--primary-color);
      width: 0.3rem;
  }
  ::-webkit-scrollbar-thumb{
      background-color: var(--secondary-color);
  }